#dreamhackSpeedrunsLogo {
	width: 626px;
	height: 243px;
	left: 15px;
	top: 790px;
}

#esaLogo {
	width: 237px;
	height: 253px;
	left: 97px;
	top: 454px;
}

#gameCapture1 {
	width: 1461px;
	height: 822px;
	left: 434px;
	top: 37px;
}

#webcam1 {
	width: 399px;
	height: 300px;
	left: 15px;
	top: 37px;
}

#runInformationLogo {
	left: 655px;
	top: 904px;
	width: 72px;
	height: 72px;
}

#runInformationWrapper {
	width: 672px;
	height: 107px;
	left: 739px;
	top: 886px;
	display: flex;
	align-items: center;
}

#runInformationFields {
	box-sizing: border-box;
	padding-left: 10px;
	line-height: 180%;
	letter-spacing: -1.5px;
	width: 100%;
}

#runInformationGameName {
	font-size: 26px;
}

#runInformationGameCategory {
	padding-top: 7px;
	font-size: 22px;
	float: left;
}

#runInformationGameSystem {
	padding-top: 7px;
	font-size: 22px;
	float: right;
	padding-right: 10px;
}

.playerContainer {
	width: 745px;
	height: 59px;
	left: 666px;
	top: 1005px;
}

.runnerLogo {
	width: 51px;
	margin-right: 21px;
}

.runnerInfo {
	font-size: 26px;
	line-height: 59px;
	box-sizing: border-box;
	padding-left: 10px;
}

#timerContainer {
	width: 481px;
	height: 178px;
	left: 1424px;
	top: 886px;
}

#timer {
	padding-top: 30px;
	font-size: 61px;
}

#runInformationGameEstimate {
	top: -15px;
	font-size: 30px;
}