#layoutImage {
	background-image: url('../images/4-3-4player.png');
}

.gameCapture {
	width: 640px;
	height: 480px;
}

#gameCapture1 {
	left: 0px;
	top: 33px;
}

#gameCapture2 {
	left: 1280px;
	top: 33px;
}

#gameCapture3 {
	left: 0px;
	top: 517px;
}

#gameCapture4 {
	left: 1280px;
	top: 517px;
}

#webcam1 {
	width: 638px;
	height: 361px;
	left: 641px;
	top: 333px;
}

#runInformationGameName {
	position: fixed;
	width: 639px;
	height: 68px;
	left: 640px;
	top: 87px;
	font-size: 40px;
	line-height: 68px;
	text-align: center;
}

#runInformationGameCategory {
	position: fixed;
	width: 639px;
	height: 57px;
	left: 640px;
	top: 213px;
	font-size: 40px;
	line-height: 57px;
	text-align: center;
}

#runInformationGameSystem {
	position: fixed;
	width: 639px;
	height: 55px;
	left: 640px;
	top: 156px;
	font-size: 40px;
	line-height: 55px;
	text-align: center;
}

.playerContainer {
	width: 584px;
	height: 54px;
}

#player1Container {
	left: 640px;
	top: 33px;
}

#player2Container {
	left: 696px;
	top: 272px;
}

#player3Container {
	left: 640px;
	top: 703px;
}

#player4Container {
	left: 696px;
	top: 943px;
}

.runnerLogo {
	width: 40px;
	margin-right: 12px;
	margin-left: 6px;
}

.runnerInfo {
	font-size: 45px;
	line-height: 54px;
	box-sizing: border-box;
	padding-left: 10px;
	text-align: center;
}

#timer {
	position: fixed;
	font-size: 60px;
	width: 638px;
	height: 55px;
	left: 640px;
	top: 884px;
	line-height: 55px;
}

#runInformationGameEstimate {
	position: fixed;
	font-size: 40px;
	width: 638px;
	height: 69px;
	left: 640px;
	top: 757px;
	line-height: 69px;
}