@font-face {
	font-family: "TW Can MT Bold";
	src: url("../images/tw-cen-mt-bold.ttf") format("truetype");
}

body {
	font-family: "TW Can MT Bold";
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	color: black;
}

#window-container {
	position: fixed;
	top: 0px;
	left: 0px;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

#layoutImage {
	position: fixed;
	top: 0px;
	left: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

#esaLogo {
	position: fixed;
	background-image: url('../images/ESALogo.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

#esaLogoFull {
	position: fixed;
	background-image: url('../images/ESALogoFull.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

.gameCapture, .webcam {
	position: fixed;
	background-color: #00DD00;
	border: 5px solid #a84300;
	box-sizing: border-box;
}

#runInformationLogo {
	position: fixed;
	background-image: url('../images/runInformationIcon.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#runInformationWrapper {
	position: fixed;
	/*background-color: rgba(69,69,69,0.7);*/
}

#runInformationFields {
	overflow: hidden;
}

.playerContainer {
	position: fixed;
	display: flex;
	background-color: purple;
	color: white;
	background-image: url('../images/purple-back.png');
	background-size: auto;
	background-repeat:repeat;
}

.runnerLogo {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 100%;
}

.nameLogo {
	background-image: url('../images/playerlogo.png');
}

.twitchLogo {
	background-image: url('../images/twitchlogo.png');
}

.runnerInfo {
	/*background-color: rgba(69,69,69,0.7);*/
	flex: 1;
	overflow: hidden;
	letter-spacing: -1.5px;
	white-space: nowrap;
}

#timer {
	position: relative;
	text-align: center;
}

.timer_paused {
	color: yellow;
}

.timer_running {
	color: white;
}

.timer_stopped {
	color: gray;
}

.timer_finished {
	color: #ff6600;
}

#runInformationGameEstimate {
	position: relative;
	text-align: center;
	color: white;
}

#runInformationGameEstimate:before {
	content: 'EST: ';
}

#runInformationGameEstimate:after {
	content: ':00';
}

.runnerTimerFinishedContainer {
	position: fixed;
	display: flex;
	overflow: hidden;
	align-items: center;
}

.finishedLogo {
	position: relative;
	height: 100%;
	background-image: url('../images/finishFlag.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

#donationTotal {
	position: fixed;
	left: 65px;
	top: 1030px;
	font-size: 40px;
	width: 250px;
	text-align: center;
	color: white;
}