#layoutImage {
	background-image: url('../images/intermission.png');
}

#webcam1 {
	width: 1498px;
	height: 844px;
	left: 209px;
	top: 12px;
}

#intermissionHosts {
	position: fixed;
	width: 1920px;
	height: 53px;
	line-height: 53px;
	text-align: center;
	font-size: 40px;
	left: 0px;
	top: 861px;
}

.runInformationFields {
	overflow: hidden;
	box-sizing: border-box;
	padding-left: 7px;
	padding-top: 2px;
	width: 100%;
}

.runInformationWrapper {
	width: 1920px;
	height: 54px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	position: fixed;
	/*background-color: rgba(69,69,69,0.7);*/
}

#justMissedRunContainer .runInformationWrapper {
	left: 0px;
	top: 972px;
}

#justMissedGame {
	font-size: 40px;
	text-align: left;
	padding-left: 10px;
}

#comingUpRunContainer .runInformationWrapper {
	left: 0px;
	top: 972px;
}

#comingUpGame {
	font-size: 40px;
	text-align: right;
	padding-right: 10px;
}

/*#informationMarquee {
	position: fixed;
	top: 1080px;
	left: 0px;
	height: 59px;
	opacity: 0;
	width: 1920px;
	overflow: hidden;
	white-space: nowrap;
	background-color: rgba(69,69,69,0.7);
	font-size: 26px;
	line-height: 59px;
	text-align: center;
}*/